<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>


    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Simple_Player.My.MySettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="My.MySettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>

  <userSettings>
    <Simple_Player.My.MySettings>
      <setting name="Volume" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="Created" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Recovery_Invalid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPlayer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Beta_Button" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Playlist1_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist2_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist3_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist4_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist1_User_Imput_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist2_User_Imput_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist3_User_Imput_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist4_User_Imput_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Skin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Notify" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="loged" serializeAs="String">
        <value>flase</value>
      </setting>
    </Simple_Player.My.MySettings>
    <My.MySettings>
      <setting name="Volume" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="Agree_Ment" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Recovery_Code" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Show_Login" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Remember_login" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Created" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Recovery_Invalid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPlayer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Beta_Button" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Show_Login_At_Vault" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Playlist1_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist2_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist3_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist4_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist1_User_Imput_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist2_User_Imput_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist3_User_Imput_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Playlist4_User_Imput_Name" serializeAs="String">
        <value />
      </setting>
    </My.MySettings>
  </userSettings>
</configuration>